[Unit]
Description=Close tabs service
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/etc/
ExecStart=/usr/bin/bash /etc/matt_damon.sh
Restart=always 
RestartSec=1
User=root

[Install]
WantedBy=CTCT.target
